<div class="header_bar">
  <div class="right">
    <div class="lecture_num"><span></span>강</div>
    <div class="lecture_step">
      <div class="step step1">생각하이</div>
      <div class="arrow"></div>
      <div class="step step2">개념하이</div>
      <div class="arrow"></div>
      <div class="step step3">적용하이</div>
      <div class="arrow"></div>
      <div class="step step4">정리하이</div>
    </div>
  </div>
  <div class="left">
    <div class="control_sound">
      <div class="btn sound"></div>
      <div class="sound_slide">
        <input type="range" min="0" max="100" class="slider" step="6.6" />
      </div>
      <div class="btn bgm"></div>
    </div>
    <button class="btn quit">닫기</button>
  </div>
</div>
<div class="pop_close">
  <div class="inner">
    <div class="btns">
      <div class="btn exit"></div>
      <div class="btn keep"></div>
    </div>
  </div>
</div>
<div class="btn header_btn"></div>
